.git
.github
.pm
.ui
.ai
.vscode
.turbo
node_modules
**/node_modules
**/dist
packages/types/lib
packages/backend/lib
**/coverage
logs
logs-e2e
test-results
playwright-report
blob-report
e2e
perf
perf-output
docs
rules
*.log
.env
.env.*
!.env.example
openapi.json
